//
   Created by uma92 on 2017/02/18.
meta(charset="UTF-8")
meta(name ="robots" content="noindex, nofollow")

script(src="./js/bundle.js")
script(src="/socket.io/socket.io.js")
link(rel="stylesheet" type="text/css" href="css/main.css")
meta(property="og:type",content="website")


